.axis-label {
    text-anchor: middle;
    font-size: 12px;
    font-weight: semibold;
}

body {
    font-family: "Open Sans";
    margin: 0;
}

#main {
    margin: 20px;
}

.filter {
    cursor: pointer;
}

.filter text {
    font-size: 11px;
    font-weight: normal;
    fill: #333;
}

.filter rect{
    fill: #ddd;
}

.filter.selected text {
    fill: #fff;
}

.filter.selected rect {
    fill: #fe902b;
}

    .bar.hovered rect {
        fill: #fe902b;
    };

    .bar.hovered text {
        font-weight: bold;
    };

.bar .value {
    font-size: 11px;
    font-weight: bold;
}